html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.img {
  display: block;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--main-tex);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-tex-color);
  margin: 0;
}
.modal-open {
  overflow: hidden;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  margin: 0 auto;

  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-left: 71px;
    padding-right: 71px;
  }
}

.link {
  text-decoration: none;
}
