:root {
  --main-tex-color: rgba(0, 0, 0, 1);
  --second-tex-color: rgba(255, 107, 8, 1);
  --white-tex-color: rgba(255, 255, 255, 1);
  --footer-tex-color: rgba(84, 84, 84, 1);
  --modal-tex-color: rgba(140, 140, 140, 1);

  --backg-activ-color: rgba(255, 107, 1, 1);
  --backg-fot-color: rgba(247, 247, 247, 1);
  --backg-fot-second: #222;

  --main-tex: 'Roboto', sans-serif;
}
